[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
sentry-sdk = "*"
pyserial = "*"
requests = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
coverage = "*"
pytest-mock = "*"
requests-mock = "*"
tox = "*"

[requires]
python_version = "3.9"
