[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
requests-mock = "*"

[packages]
pyserial = "*"
requests = "*"
appdirs = "*"
pyyaml = "*"
sentry-sdk = "*"

[requires]
python_version = "3.8"
