[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
sentry-sdk = "*"
python-environ = "*"
pyserial = "*"

[requires]
python_version = "3.9"
