[Unit]
Description=Quartx Call Logger

[Service]
ExecStart=/usr/bin/call-logger
Restart=on-failure
Type=simple

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
