appdirs==1.4.4
attrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.1.0
coverage==7.2.2
deprecated==1.2.13
exceptiongroup==1.1.1
fluent-logger==0.10.0
getmac==0.9.3
idna==3.4
iniconfig==2.0.0
logzio-python-handler==4.0.1
msgpack==1.0.5
opentelemetry-api==1.16.0
opentelemetry-instrumentation==0.32b0
opentelemetry-instrumentation-logging==0.32b0
packaging==23.0
pluggy==1.0.0
protobuf==4.22.1
psutil==5.9.4
pyserial==3.5
pytest==7.2.2
pytest-cov==4.0.0
pytest-mock==3.10.0
python-decouple==3.8
requests==2.28.2
requests-mock==1.10.0
sentry-sdk==1.17.0
setuptools==67.6.0
six==1.16.0
tomli==2.0.1
uptime==3.0.1
urllib3==1.26.15
wrapt==1.15.0
